<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A & Z Gods Ministry For All People">
    <meta name="author" content="george@azgodsminsitry.com">

    <title>A & Z God's Ministry</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/">
            <img src="/images/az_icon.jpg" width="250" height="" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
                  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item <%= if Kernel.inspect(@view_module) == "ForallWeb.PageView", do: 'active' %>">
                <a class="nav-link" href="/">HOME <span class ="sr-only">(current)</span></a>
              </li>
              <li class="nav-item <%= if Kernel.inspect(@view_module) == "ForallWeb.AboutView", do: 'active' %>">
                <a class="nav-link" href="/about">ABOUT US</a>
              </li>
              <li class="nav-item <%= if Kernel.inspect(@view_module) == "ForallWeb.ServicesView", do: 'active' %>">
                <a class="nav-link" href="/services">SERVICES</a>
              </li>
              <li class="nav-item <%= if Kernel.inspect(@view_module) == "ForallWeb.EventsView", do: 'active' %>">
                <a class="nav-link" href="/events">EVENTS</a>
              </li>
              <li class="nav-item <%= if Kernel.inspect(@view_module) == "ForallWeb.DonateView", do: 'active' %>">
                <a class="nav-link" href="/donate">DONATE</a>
              </li>
              <li class="nav-item <%= if Kernel.inspect(@view_module) == "ForallWeb.ContactView", do: 'active' %>">
                <a class="nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <div class="row p-3">
          <div class="col-2"></div>
          <div class="col-3">
            <span class="footer_title">ABOUT US</span><br><br>
            <span class="footer_text">
              A Non-profit organization that provides services to Nursing Homes, Shelter Homes, 
              worships and preaches the Word of God.<br>
              <br>
              All our Services are provided in English and Portuguese.
            </span>
          </div>
          <div class="col-1">
            <p class="vertical_rule"></p>
          </div>
          <div class="col-3">
            <span class="footer_title">ADDRESS</span><br>
            <span class="footer_text">
              1-508-297-1829<br>
              azgodsministryforallpeople@gmail.com<br>
              <br>
              2 Canton Street, BLD. A-4<br>
              Stoughton, MA 02072<br>
                                and<br>
              418 Belmont Street<br>
              Brockton, MA  02301
            </span>
          </div>
          <div class="col-2 align-self-end">
                    <a href="https://www.facebook.com/AZ-Gods-Ministry-for-All-People-398611063640967/" 
                        class="p-1" target="_blank">
                      <img src="images/facebook_icon.png" alt="facebook icon">
                    </a>
                    <a href="https://www.youtube.com/channel/UChvLWvQ39sgv43qn1xighyQ" class="p-1" target="_blank">
                      <img src="images/youtube_icon.png" alt="youtube icon">
                    </a>
                    <a href="https://twitter.com/azgodsministry" class="p-1" target="_blank">
                      <img src="images/twitter_icon.png" alt="twitter icon">
                    </a>
          </div>
          <div class="col-1"></div>
        </div>


      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
