<div id="about_row" class="row  justify-content-center">
  <div id="about_col" class="col-lg-3">
      <div id="about_us">ABOUT US</div>
      <div id="about_text_va">
        <div id="about_text">
        A&Z God's Ministry for All People is hope that is far more than a religion, it’s the church of Christ, that seeks to heal the broken and lost souls that fate brings to its doors.
        </div>
      </div>
  </div>
</div>

