/* This file is for your main application css. */
body, html {
    height: 100%;
}

.bg {
  background-image: url("/images/sun_clouds.jpg");
}

#j812 {
  font-family: "palatino linotype", serif;
  font-weight: bold;
  font-size: 58px;
}
