/* This file is for your main application css. */
@import "bootstrap";

/***************** SASS variables ****************/
$first-row-height: 400px;
$normal-font-size: 0.9em;
$larger-font-size: 1.6em;
$sans-font: "open sans", sans-serif;

.normal-font {
  font-size: $normal-font-size;
  font-family: $sans-font;
}

.larger-font {
  font-size: $larger-font-size;
  font-family: $sans-font;
}

/**************** body, header, footer ***********/
body, html {
  background-color: #eda5a6;
}

.container-fluid {
  padding: 0px;
}

nav {
  @extend .normal-font;
}

.navbar .navbar-nav .nav-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.navbar .navbar-nav > .active > a {
  color: #A99B00 !important;
  font-weight: bold !important;
}

.navbar .navbar-nav > a, .nav-link:hover {
  color: white !important;
}

footer {
  background-color: #211f1f;
  color: #CC1013;
  padding-bottom: 20px;
}

.footer_title {
  font-size: 1.0em;
  font-family: "palatino linotype", serif;
  font-weight: bold;
}

.footer_text {
  font-size: 0.9em;
  font-family: "open sans", sans-serif;
  line-height: 1.5em;
}

.vertical_rule {
  margin-top: 50px;
  margin-right: 40px;
  border-right: solid 1px #a8e0f4;
  height: 60%;
}

.card {
  background-color: #eda5a6;
}

/************ HOME page ****************************/
.john812 {
  background-image: url('/images/sun_clouds.png');
  height: $first-row-height;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#j812 {
  font-family: "palatino linotype", serif;
  font-weight: bold;
  font-size: 58px;
  padding-top: 175px;
}

#john812 {
  @extend .larger-font;
  font-weight: bold;
  color: #b4d4ec;
  padding-top: 50px;
}

.mark1615 {
  background: #eda5a6;
  text-align: center;
}

#mark1615_txt {
  margin-top: 20px;
  letter-spacing: 0.1em;
  font-size: 26px;
  font-family: "palatino linotype", serif;
  color: #544D00;
}

#mark1615_ref {
  color: #544D00;
}

#we_all_should {
  padding: 20px;
  padding-left: 300px;
  text-align: left;
  font-size: 16px;
  font-style: italic;
  color: #544D00;
  line-height: 1.5em;
  font-family: "open sans", sans-serif;
}

.card {
  border: 0;
  padding: 15px;
}

div.card-body {
  background-color: #e1b0b5;
}

hr {
  width: 100px;
  height: 1px;
  background: #a8e0f4;
}

/************ ABOUT page ****************************/
#about_row {
  background: #6b9de8;
  height: $first-row-height;
}

#about_us {
  letter-spacing: 0.2em;
  font-size: 46px;
  color: #8B0000;
  font-family: "palatino linotype", serif;
  text-align: center;
}

#about_text {
  text-align: center;
  font-size: 21px;
  color: #880A0C;
  line-height: 1.5em;
  font-family: "open sans", sans-serif;
}

.card-title.about {
  letter-spacing: 0.2em;
  font-family: "palatino linotype", serif;
  color: #544D00;
}

.card-text.about {
  line-height: 1.5em;
  font-size: 14px;
  font-family: "open sans", sans-serif;
  color: #440506;
}

.about_good_news_title {
  letter-spacing: 0.2em;
  font-size: 25px;
  font-family: "palatino linotype", serif;
  color: #544D00;
}

.about_good_news_scripture {
  font-size: 20px;
  line-height: 1.5em;
  font-family: "open sans", sans-serif;
  color: #440506;
}

.about_good_news_ref {
  font-size: 18px;
  font-family: "palatino linotype", serif;
  color: #544D00;
}

/************ SERVICES page ****************************/
.services_prayer{
  background-image: url('/images/tony_preaching.png');
  height: $first-row-height;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#services_prayer_title {
  letter-spacing: 0.2em;
  font-size: 30px;
  font-style: italic;
  color: #8B0000;
  font-family: "palatino linotype", serif;
  background-color: rgba(233,229,208,0.5);
}

#services_prayer_text {
  font-style: italic;
  line-height: 1.5em;
  font-family: "open sans", sans-serif;
  color: #440506;
  font-size: 14px;
  background-color: rgba(233,229,208,0.5);
}

#services_prayer_text:hover {
  background-color: white;
}

#services_welcome_title {
  color: #8B0000;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 21px;
  font-family: "palatino linotype", serif;
}

hr#services {
  width: 200px;
  height: 5px;
  border-radius: 7px;
  background: #8B0000;
}

#services_welcome_text {
  letter-spacing: 0.2em;
  font-size: 19px;
  font-family: "palatino linotype", serif;
  color: #544D00;
}

#services_hours_title {
  letter-spacing: 0.2em;
  color: #544D00;
  font-size: 18px;
  font-family: "palatino linotype", serif;
}

#services_hours_text {
  line-height: 1.5em;
  font-size: 14px;
  font-family: "open sans", sans-serif;
  color: #440506;
}

/************ DONATE page ****************************/
.donate_sponsor {
  background-image: url('/images/barley_field.jpg');
  height: $first-row-height;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#donate_barley_title {
  letter-spacing: 0.2em;
  color: #8B0000;
  font-size: 30px;
  font-family: "palatino linotype", serif;
  background-color: rgba(233,229,208,0.5);
}

#donate_barley_text {
  font-size: 19px;
  line-height: 1.5em;
  font-family: "open sans", sans-serif;
  color: #440506;
  background-color: rgba(233,229,208,0.5);
}

#donate_barley_text:hover {
  background-color: white;
}

.card-title.donate {
  letter-spacing: 0.2em;
  font-size: 18px;
  font-family: "open sans", sans-serif;
  color: #440506;
}

#hr_donate_cards {
  width: 80px;
  height: 1px;
  background: #a8e0f4;
}

#card-text.donate {
  line-height: 1.5em;
  font-size: 14px;
  font-family: "open sans", sans-serif;
  color: #440506;
}
 
svg {
  stroke: rgba(68, 5, 6, 1);
  fill: #440506;
  fill-opacity: 0;
}

#donate_change_title {
  color: #CC1013;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  font-family: "open sans", sans-serif;
}

#donate_change_text {
  color: #000000;
  line-height: 1.5em;
  font-size: 14px;
  font-family: "open sans", sans-serif;
}

/************ EVENTS page ****************************/
.events_faithful {
  background-image: url('/images/god_is_faithful.png');
  height: $first-row-height;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#events_faithful_title {
  letter-spacing: 0.2em;
  color: #880A0C;
  font-size: 30px;
  font-family: "palatino linotype", serif;
  background-color: rgba(233,229,208,0.5);
}

#events_faithful_text {
  color: #8B0000;
  line-height: 1.5em;
  text-align: center;
  font-size: 14px;
  font-family: "open sans", sans-serif;
  background-color: rgba(233,229,208,0.5);
}

#events_faithful_text:hover {
  background-color: white;
}

div.card-body.events {
  background-color: rgba(168, 224, 244, 0.19);
}
.card-title.events {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  font-family: "open sans", sans-serif;
}

.card-text.events {
  color: #000000;
  font-size: 14px;
  font-family: "open sans", sans-serif;
}

/************ CONTACT page ****************************/
.contact_ways {
  background-image: 
    linear-gradient(to bottom, rgba(70,182,224,0.5), rgba(70,182,224,0.5)),
    url('/images/praying_together.webp');
  height: $first-row-height;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#contact_ways_title {
  letter-spacing: 0.2em;
  color: #880A0C;
  font-size: 30px;
  font-family: "palatino linotype", serif;
  background-color: rgba(233,229,208,0.5);
}

#contact_ways_text {
  color: #880A0C;
  line-height: 1.5em;
  text-align: center;
  font-size: 19px;
  font-family: "open sans", sans-serif;
  background-color: rgba(233,229,208,0.5);
}

#contact_ways_text:hover {
  background-color: white;
}



