<div class="row" style="min-width: 1028px;">
  <div class="col john812">
      <div id="j812">I am the Light of the World</div>
      <div id="john812">John 8:12</div>
  </div>
</div>
<div class="row" style="min-width: 1028px;">
  <div class="col mark1615">
    <div id="m1615">
      He said to them: "Go into all the World and Preach the Gospel to all Creation".
    </div>
  </div>
</div>
